<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhOW3rY3cEO0ntViql8SVbE-PpCBh09jc</string>
	<key>GCM_SENDER_ID</key>
	<string>816218581647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YogaSchoolKailas.kagyo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kagyokanri</string>
	<key>STORAGE_BUCKET</key>
	<string>kagyokanri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816218581647:ios:515e00b8a7d9d116181efa</string>
</dict>
</plist>